server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Ruta para el Servicio de Tráfico
        - id: servicio-trafico
          uri: lb://servicio-trafico  # lb:// usa el nombre del servicio en Eureka
          predicates:
            - Path=/api/trafico/**
          filters:
            - StripPrefix=1 # Elimina /api de la URL antes de enviarla al microservicio

        # Aquí se añadirían las rutas para los otros servicios...
        - id: servicio-emergencia
          uri: lb://servicio-emergencia
          predicates:
            - Path=/api/emergencia/**
          filters:
            - StripPrefix=1

    compatibility-verifier:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/