server:
  port: 8080 # Puerto de acceso único para todos los clientes

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/ # URL del Servidor Eureka (para descubrir los servicios)

spring:
  application:
    name: api-gateway # Nombre con el que se registrará en Eureka
  cloud:
    gateway:
      discovery:
        locator:
          # Permite que Gateway use los Service IDs registrados en Eureka (ej: SERVICIO-TRAFICO)
          enabled: true
          lower-case-service-id: true
      routes:
        # --- Ruta para el Servicio de Tráfico ---
        - id: trafico_route
          # lb:// significa 'Load Balance' usando el nombre del servicio registrado en Eureka
          uri: lb://SERVICIO-TRAFICO
          predicates:
            # Todas las peticiones que empiecen con /api/trafico se dirigen al servicio-trafico
            - Path=/api/trafico/** # --- Ruta para el Servicio de Emergencia ---
        - id: emergencia_route
          uri: lb://SERVICIO-EMERGENCIA
          predicates:
            - Path=/api/emergencia/**