server:
  port: 8888
spring:
  cloud:
    config:
      server:
        git:
          # CLAVE: Apuntar a la carpeta local
          uri: file:///C:/Users/macer/IdeaProjects/wakanda-smart-city/config-repo
          search-paths: '{application}'